:root {
    --main-color: #268DFF;/*로고 색상과 동일 -> 상단 메뉴바 검은색으로 수정해야함*/ 
    --main-color-transparent: #e9efec;
    --main-color-dark:#506358;
    --cancel-gray: #777;
    --hover-color:#f9f9f9;
    --border-gray: #dbdbdb;
}

/*main filter*/
.header button{height: 100% !important;vertical-align: top;}
#header{position: sticky; top: 0px; display: block; width:100%; height: auto; background: #fff; z-index: 10; box-shadow: 2px 8px 20px rgb(218, 218, 218);}
#header .dropdown.logo { display: inline-block; height: inherit; line-height: inherit; margin: 0; padding: 0;}
#header .nav_right {padding-right: 4em;}
#header .dropdown.nav_list { display: inline-block; padding: 0;}
#header #headerMain{height: 80px; display: flex; justify-content: space-around; align-items: center; width: 100%;}
#header #filterMain{height: 48px; padding: 20px;}
#header #filterMain button{height: 100%;}
#header #filterSub{height: 40px; padding: 0 20px;}
#filterSub button{width: 10%;}
#filterSub #inputKeyword{width: 30%; height:100%; padding: 0 0 0 15px;float: left;box-sizing: border-box;display: inline-block;}
#filterSub #btnSearch{width: 10%;padding: 0;float: left;}
#filterSub #btnAddCompany{float:right;}
#filterMain .btn{color: gray;font-size: 0.7rem;display: block;float: left;background: #FFF; box-shadow: none; padding: 0 20px; border: none;}
#filterMain .btn.selected{color:var(--main-color); border-bottom:solid 4px;}
span.divider{display: inline-block;width: 0;height: 0.5em;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}

/*custom classes*/
.hidden {display: none !important;}
.pointer{cursor: pointer;}
.inline{display: inline-block; vertical-align: top;}
.board-list .ui-widget.ui-widget-content{width: 97% !important;}
.full_width{width:100%;}
.link, .link2{font-weight: bolder; z-index: 5; cursor: pointer; text-decoration: none;}
.link:hover{color:var(--main-color);}
.link2:hover{color: #0d84da; text-decoration: none;}
.btn-group .btn {width: 160px;height: 50px;margin: 10px 0;font-size: 18px;}
.filterBtn {height: 45px;}
.workTime select{width: 150px;font-size: 20px;padding-bottom: 5px;}
.duplicate{min-height: 50px;vertical-align: middle;padding: 1%;}

/* align */
.al_l { text-align: left; }
.al_c { text-align: center; }
.al_r { text-align: right; }

/*bookmark star*/
.fa-star {cursor: pointer; color: black;}
.fa-star.unchecked {color: gray;}
.fa-star.checked {color: orangered;}

/*jquery date picker*/
.ui-datepicker-calendar td.newClass a { background: #FEF5E7; }
.ui-datepicker-inline{width: 100%;}
.ui-state-default {background: #fff !important; border: solid 0 !important; text-align: center !important; }
.ui-datepicker-header { background: #dbdbdb !important; border: solid 0 !important; }
.ui-datepicker-month { width: 33% !important; margin-left: 6px !important; }
.ui-state-active {background: var(--main-color) !important; color: #fff !important; }
.ui-datepicker-calendar { border-top: solid 0}

/* call top */
.call_top_percentage {width: 70%; /* 너비는 callTable.php 의 너비와 동일 */ display: grid; grid-template-columns: 1fr 1.1fr; justify-content: space-evenly; margin-bottom: 1.5rem; align-items: end;}

/* 날짜 선택 */
.call_top_percentage .grid_layout { display: grid; grid-template-columns: 1fr .7fr;}
.call_top_percentage .grid_layout .calender { display: flex; align-items: center; justify-content: space-between; margin: 10px 4.5% 0 0;}
.call_top_percentage input[type="text"].date { width: 45%; font-size: .55rem; height: 1rem; line-height: 1rem; padding: 0; border: 1px solid #e4e4e4;}
.call_top_percentage .submit_btn { align-self: center;}
.call_top_percentage .submit_btn button {background: none; font-size: .6rem; color: rgba(0, 0, 0, 0.6); padding: 25px; border-radius: 10px; border: 1px solid rgba(0, 0, 0, 0.2); -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; margin-bottom: 4px;}
.call_top_percentage .week_btn { padding-left: 35px;}
.call_top_percentage .week_btn button { background: none; border: 1px solid rgba(0, 0, 0, 0.2); color: rgba(0, 0, 0, 0.5); border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; }
.call_top_percentage .week_btn button.active { background: #FFF; font-weight: 600; color: #268DFF; border: 2px solid #268DFF; cursor: pointer;}
.call_top_percentage .submit_btn button:hover,
.call_top_percentage .submit_btn button:focus,
.call_top_percentage .week_btn button:hover,
.call_top_percentage .week_btn button:focus { background: #FFF; font-weight: 600; color: #268DFF; border: 2px solid #268DFF; cursor: pointer;}
.call_top_percentage .datepick .calender img { width: 25px; height: 25px; margin: 0 5px 0 0;}

/* search */
.call_top_percentage .datepick .section_search { display: flex;}
.call_top_percentage .datepick .section_search img { width: 25px; height: 25px; margin: 10px 5px 0 0;}
.call_top_percentage .datepick .section_search input.search_date { width: 316px; height: 1rem; line-height: 1rem; margin-top: 10px; padding: 0; border: 1px solid #e4e4e4;}

/* 배정률 그래프 */
.call_top_percentage .percent {display: grid; grid-template-columns: 1fr 1fr; align-items: end; font-size: .6rem;}
.graph { position: relative; width: 90%; border: 1px solid #268DFF; padding: 1px; font-size:15px; font-family:tahoma; margin-top:10px; margin-bottom:3px; }
.graph .bar { display: block; position: relative; background: #268DFF; color: #fff; text-align: center; height: 2em; line-height: 2em;}
.graph .bar span { position: absolute; left: 1em;}

/* board */
.board-list { padding: 0; margin: 0; width: 100%; height: auto;}
.board-list h3 { padding-bottom: 10px; font-size: 23px; }
.board-list.scroll_list{padding: 60px 0 120px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.board-write {padding: 0;margin: 0 100px 30px;}
.board-write h3 { padding-bottom: 10px; font-size: 23px; }

/* modal */
.modal-wrapper{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); display: flex; align-items: center; justify-content: center; z-index: 99999;}
.modal{ background: white; padding: 24px 16px; border-radius: 4px; width: 320px; }
.modal p{ font-size: 16px; } 
.modal-title{ font-size: 24px; font-weight: bold; }
.close-wrapper{ text-align: right; }

/*form*/
.form-default input.input-field, .form-default .select-field
{width: 40%; box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 1px solid #C2C2C2;box-shadow: 1px 1px 4px #EBEBEB;-moz-box-shadow: 1px 1px 4px #EBEBEB;-webkit-box-shadow: 1px 1px 4px #EBEBEB;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;padding: 7px;outline: none;}
.form-default .textarea-field{height:100px;width:55%;}

/* button */
.btn { display: inline-block; padding: 6px 12px; font-size: 13px; color: #fff; border: none; vertical-align: middle;
    box-sizing: border-box; text-decoration: none; cursor: pointer;}
.btn-small{padding: 0 5px;}
.al_c .btn-call-check-modal { background: none; border: 1px solid rgba(0, 0, 0, 0.2); color: rgba(0, 0, 0, 0.5); border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; }
.al_c .btn-call-check-modal:hover { background: #FFF; font-weight: 600; color: #268DFF; border: 2px solid #268DFF; cursor: pointer;}
.btn-default        {background: white;color: var(--cancel-gray);border: solid 1px var(--cancel-gray);}
.btn-default:hover  {background: var(--cancel-gray); color:#FFF; border: 0;}
.btn-danger     {background: indianred; padding: 5px;border-radius: 3px;}                .btn-danger:hover{background: red;}
.btn-insert     {background: var(--main-color);}             .btn-insert:hover{background: var(--main-color);}
.btn-submit     { border: solid 1px #ccc; padding: 4px; color: var(--main-color-dark) }                 .btn-submit:hover{background: var(--main-color-dark); color: #fff}
.btn-option     {background: #777584de}                 .btn-option:hover{background: #777584;}
.btn-option.selected {background: red;}
.btn-close-modal{background: none;color: black; font-weight: bold}
.btn-money      {padding: 4px 7px; border-radius: 3px; background: #268DFF; color: #fff; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; }
.btn-money:hover{ border-radius: 5px; color: #f2f3f2;border: none;}
a.btn{padding:10px;}

/* callTable */
#call_table {border-top: none; box-shadow: 15px 15px 20px #e1e1e1, -15px 15px 20px #e1e1e1;}
#call_table thead tr th { background: #268DFF; color: #fff; padding: 10px; font-size: .5rem; transition: all .5s; -webkit-transition: all .5s; -moz-transition: all .5s; -ms-transition: all .5s; -o-transition: all .5s; }
#call_table thead tr th:hover { background: #0873ee;}
#call_table thead tr th.round1 { border-radius: 14px 0 0 0; -webkit-border-radius: 14px 0 0 0; -moz-border-radius: 14px 0 0 0; -ms-border-radius: 14px 0 0 0; -o-border-radius: 14px 0 0 0; }
#call_table thead tr th.round2 { border-radius: 0 14px 0 0; -webkit-border-radius: 0 14px 0 0; -moz-border-radius: 0 14px 0 0; -ms-border-radius: 0 14px 0 0; -o-border-radius: 0 14px 0 0; }

.inline.scroll_tbody.call { width: 75%;}

/*div with class table*/
.table { border-top: 2px solid #666; table-layout: fixed; word-break: break-all;}
.table > .tr {background: whitesmoke; padding:10px; border-bottom: 1px solid #ddd; line-height: 30px; z-index: 1;}
.table > .tr:after { content: ""; display: block; clear: both; }
.table > .tr > div { float: left; padding: 0; }
.table > .tr > .desc { width: 30%; }
.table > .tr > .desc.content { min-height: 300px; }

.table > .tr > .td{width: auto;display: table;}
.table > .tr > .td.td-3{width: 25%; display: table;}
.table > .tr > .td.td-4{width: 33%;}
.table > .tr > .td.td-6{width: 50%;}
.table > .tr > .td.td-9{width: 75%;}
.table > .tr > .td.td-12{width: 100%;}


.table > .tr > .td >label { max-width: 97px; display: block; vertical-align: middle; text-align: left;font-weight: bold;font-size: 16px;word-break: keep-all; padding: 0 10px; }
.table > .tr > .td input, .table > .tr > .td select, .table > .tr > .td textarea
{
    width: 260px; height: 100%;line-height: 1.3;padding: 10px;border: solid 1px #e4e4e4;font-family: inherit;display: inline-block;vertical-align: middle;
}
.table .tr .td input[type="checkbox"]{width: 30px;height: 30px;cursor: pointer;}
.table .tr .td .time{width: 115px;background: #fff;height: 40px;margin-right: 10px;font-size: 16px;padding: 5px 10px;}
/*.table .btn{width: 75px;height: 37px; margin:0 2px;}*/
.table > .tr > .td > .textarea-detail{height: 200px;width: 375px;margin: 0;resize: none;}
.table table{display: inline-table;}
.title-table{display: table;padding: 10px 5px;margin: 10px 0 5px;}
.title-table .title-main{font-size: 35px;}
.title-table *{display: table-cell;height: 100%;vertical-align: middle;}
.title-table .btn-group{margin-left: 40px;}
.title-table .btn-select-join-type{width: 70px; height:37px; margin: 0 2px;padding: 0;font-size: 15px;}


/* default table */
table {table-layout: fixed; width: 100%; border-top: 2px solid #666; border-spacing: 0; border-collapse: collapse; text-align: center; }
tr.selectable:hover, tr.selected{cursor: pointer; background-color: var(--hover-color);}

/*tr.cancelled{background-color: #80808054;}*/
/*tr.cancelled:hover, tr.cancelled.selected{background-color: lightgray;}*/
tr.cancelled, tr.deleted{background: white;color: #868686;text-decoration: line-through;}


tr.callRow{cursor: pointer; padding:1px;}
tr.callRow b.punk-employee{background: pink;}

tr.fixRow{cursor: pointer;}
tr.activated-header { border-left: solid 2px #666; border-right: solid 2px #666; }
tr.activated {border-left: solid 2px #666; border-right: solid 2px #666; }
tr.activated.last-child {border-bottom: solid 2px #666; }
tr.deactivated{color: #aaa;}
tr.imminent{background-color: #efefef; color: #777; border: solid 1px; border-color: #310101ad}
tr.unpaid{background-color: #f5635770;color: #480405;border: solid 1px;border-color: #310101ad}
th, td {line-height: 1.9;padding: 2px 1%;word-break: keep-all;border: solid 0px;border-bottom: 1px solid #ddd;}
td.td-work-period {line-height: 1.3;}
th { background: #f5f5f5; font-size: .47rem;}
td.td-money{padding:0}

/*콜 관리 - 구직자 테이블*/
tr.assign-employee {border-left:1px solid var(--main-color-dark); border-right: 1px solid var(--main-color-dark);}
tr.assign-employee th{background:var(--main-color-dark); color:white;}

tr.assign-employee.recommend {border-left:1px solid var(--main-color); border-right: 1px solid var(--main-color);}
tr.assign-employee.recommend:last-child {border-bottom:3px solid var(--main-color); color: red}
tr.assign-employee.recommend th{background: var(--main-color); color: white;}


/*dropdown, navigation*/
.navbar {width:100%;}
.navbar a {float: left;font-size: 16px;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}

.dropdown .dropbtn {width: 100%;font-size: 0.7rem;border: none;outline: none; padding: 4px 0.6rem; height:auto;margin: 0; background-color: #FFF; color: gray; cursor: pointer;}
.dropdown .dropbtn:hover {color:var(--main-color); font-weight: bolder;}
.dropdown .dropbtn.selected {color:var(--main-color); font-weight: bolder;}
.dropdown-content {display: none;position: absolute; width: 25%; min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
.dropdown-content a {float: none;padding: 12px 16px;text-decoration: none;display: block;text-align: left;}
.dropdown-content a:hover{color:var(--main-color); font-weight: bolder; text-decoration:underline;}
.dropdown:hover .dropdown-content {display: block;}

/* The Modal */
.modal {display: none;position: fixed;z-index: 30;padding-top: 100px;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
.modal-header{height:30px; text-align: right;}
.modal-content {background-color: #fefefe;margin: auto;padding: 5px 20px 20px 20px;border: 1px solid #888;width: 40%; text-align: center;}
.modal-content form{display: inline;}
.modal-content *{height: 50px; vertical-align: top; font-size: 16px;}
.modal-content textarea{width: 80%; padding: 0; resize: none;}
.modal-content button{width: 18%;}
.modal-content button.btn-mobile{width: 45%; margin-top: 10px}
/*.modal-content input[type="number"]{width: 200px; height: 50px; font-size: 40px;}*/
.modal-content .detail{vertical-align: middle;text-align: left;font-weight: bold;height: auto;margin-bottom: 10px;}
.modal-content .btn-close-modal{padding: 10px 5px 0; text-align: right; height: auto;}
.modal-content .modal-box{width: 100%; height: auto; margin-bottom: 10px;}
.modal-content table{margin-bottom: 10px;}
.modal-content table input, .modal-content table textarea{width: 90% !important;height: 100% !important;border: none !important;}
.modal-content .td-title{display: table-cell;vertical-align: middle;font-weight: bold;}

input[type="checkbox"]{width: 13px; cursor: pointer; margin-left: 0; margin-right: 0; margin-bottom: 0;}
input[type="date"]{font-size: 20px;}
label { color:rgba(0, 0, 0, 0.5)}
.ellipsis{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

#toggleForm tr td{width: 33%;}
#toggleForm tr td.td-6{width: 50%;}

/*Popup Snack Bar*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media all and (max-width: 1540px) {
    .call_top_percentage .percent {font-size: .5rem;}
    .call_top_percentage .datepick .section_search input.search_date { width: 285px;}
    .graph { font-size: 11px;}
}
@media all and (max-width: 1168px) {
    .call_top_percentage { width: 85%; grid-template-columns: 50% 50%;}
    .call_top_percentage .grid_layout { grid-template-columns: 70% 20%;}
    .call_top_percentage .week_btn {padding-left: 45px;}
    .call_top_percentage .week_btn button { font-size: .45rem;}
    .call_top_percentage input[type="text"].date { width: 44%;}
    .call_top_percentage .datepick .section_search input.search_date { width: 8.25rem;}
    .call_top_percentage .submit_btn button { padding: 10px; margin: 0 4px;}
    .call_top_percentage .submit_btn .fix_checkbox span { display: block; text-align: center;}

    .graph .bar { height: 1em; line-height: 1em;}

    .inline.scroll_tbody.call { width: 90%;}
}