@charset "UTF-8";
html, body { width: 100%; height:100%; margin: 0; padding: 0; overflow: auto;}
html { font-size: 25px; }
body { font-size: 0.6rem; font-family: 'Noto Sans', 'Nanum Gothic','Malgun Gothic','Myriad','arial','宋體','simsun','Dotum';}
h1, h2, h3, h4, h5, h6 {margin: 16px 0 8px; padding: 0; border: 0; font-family: inherit; }
form, fieldset { margin: 5px 0 10px; padding: 0; border: 0; font-family: inherit }
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section { display: block; margin: 0; padding: 0; }
ul, li, dl, dt, dd { margin: 0; padding: 0; list-style: none; }
legend { position: absolute; margin: 0; padding: 0; font-size: 0; line-height: 0; text-indent: -9999em; overflow: auto; }
input[type="text"], input[type="password"], input[type="number"], input[type="tel"] { width: 96%; height: 1.2rem; line-height: 1.2rem; font-size: 0.6rem; padding: 2%; border: solid 0; border-bottom: 1px solid #e4e4e4; transition: 0.3s; font-family: inherit; }
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="tel"]:focus { border-color: #fff; box-shadow: 0px 0px 3px #000; background: #eff; }
textarea { font-size: 0.6rem; padding: 5px; vertical-align: middle; font-family: inherit; }
p { margin: 0; padding: 0; }
a { color: inherit; text-decoration: none; transition: .1s; -webkit-transition: .1s; -moz-transition: .1s; -ms-transition: .1s; -o-transition: .1s; }
/* a:hover { text-decoration: underline; } */
a[class*="btn"], button[class*="btn"] { display: inline-block; text-align: center; text-decoration: none; }
img { max-width: 100%; max-height: 100%; }
textarea:focus {outline: none;}
button:focus {outline: none;}
input:focus { outline: none;}

/*reactive font*/
@media (max-width: 479px) { html { font-size: 15px; } }
@media (min-width: 480px) and (max-width: 519px) { html { font-size: 15px; } }
@media (min-width: 520px) and (max-width: 559px) { html { font-size: 16px; } }
@media (min-width: 560px) and (max-width: 599px) { html { font-size: 17px; } }
@media (min-width: 600px) and (max-width: 639px) { html { font-size: 18px; } }
@media (min-width: 640px) and (max-width: 679px) { html { font-size: 19px; } }
@media (min-width: 680px) and (max-width: 719px) { html { font-size: 20px; } }
@media (min-width: 720px) and (max-width: 759px) { html { font-size: 21px; } }
@media (min-width: 760px) and (max-width: 799px) { html { font-size: 22px; } }
@media (min-width: 800px) and (max-width: 839px) { html { font-size: 23px; } }
@media (min-width: 840px) and (max-width: 879px) { html { font-size: 24px; } }
@media (min-width: 880px) { html { font-size: 25px; } }

@media all and (max-width: 1540px){
    body { font-size: 0.5rem;}
}

@media all and (max-width: 1168px) {
    a[class*="btn"], button[class*="btn"],
    .al_c .btn-call-check-modal,
    .btn-call-cancel-modal.btn.btn-small.btn-danger { font-size: .55rem;}
}