*, *::after, *::before {-webkit-box-sizing: border-box;box-sizing: border-box;}
html {font-size: 62.5%;}
body {font-size: 1.6rem;font-family: "PT Sans", sans-serif;color: black; }
a {color: #004E38;text-decoration: none;}
img, embed, object, video, svg {max-width: 100%;}
input, select, textarea {width:100%; font-family: inherit;font-size: 1.6rem; background: white;}
header {position: relative;height: 160px;line-height: 180px;text-align: center;}

.mobile_view { font-size: 1.5rem;}
.mobile_view table { padding:10px; border-bottom: 2px solid #ddd; border-top: 0;}
.mobile_view table .tr-title { padding:0px; border-bottom: 0; line-height: normal; }
.mobile_view table tr { padding:0; border-bottom: 0; font-size: 1.8rem;  text-align: left; border-bottom: darkgray;}
.mobile_view table tr .title{width: 30%; font-size: 0.7em; font-weight: bold;}
.mobile_view table tr .content{width: 70%; font-size: 0.7em;}
.mobile_view input[type=date]{width: 50%; height:100%;font-size: 1.6rem;}
.mobile_view input[name='workField']{width: 50px;margin-right: 5px;}
.mobile_view select{vertical-align: middle;}
.mobile_view .table { border-top: solid 0; }
.mobile_view .table .tr { background: #fff }
.mobile_view .table > .tr > .td.td-6 { width: 75% }
.mobile_view .btn-option.selected {color:#fff;background: var(--main-color-dark)}
.mobile_view .table > .tr > .td.container-jobs { width: 100%;margin-top: 15px; }
.mobile_view .table > .tr > .td > .selector-work-field { width: 140px; }
.mobile_view .btn {background: #ececec8c; color: #302f3a; font-weight: normal; font-size: 1.4rem; padding: 0; border-radius: 6px;}
.mobile_view .btn-option { background: #f3f3f3; padding: 8px 10px; margin: 0 10px 10px; color: var(--cancel-gray); }
.mobile_view .btn-option:last-child {margin-bottom: 0; margin-right: 0;}
.mobile_view .btn-call-cancel-modal { background: indianred; padding: 5px; border-radius: 3px; color: #fff; }
.mobile_view .btn-call-cancel-moda:hover { background: red; }
.mobile_view .btn-day{width: 20%;}
.mobile_view .btn-work-field{word-break: keep-all;line-height: 1.3; margin: 0 10px 0 0;}
.mobile_view .callBtn { border-radius: 0; padding: 15px; height: auto; margin: 0; }
/*.mobile_view :last-child {margin-right: 0;}*/
.mobile_view .list-form{width: 100%; text-align: center; margin-top: 10px;}


.mobile_view .table > .tr > .td input, .table > .tr > .td select, .table > .tr > .td textarea {width: 200px;}
.mobile_view .table > .tr > .td textarea {width: 100%; height: 100px;}
.mobile_view .time.minute{width: 90px !important;}

.list-form *{width: 45%;height: 35px;display: inline-block;margin-bottom: 10px;}

.call-list tr th {font-size: 1.2rem;border-bottom: solid #ddd 1px;padding: 5px;}
.call-list tr td {font-size: 1.3rem;border-bottom: solid #ddd 1px;padding: 5px 1px;text-align: center;height: 42px;vertical-align: middle;}
.call-list tr.cancelled{text-decoration:line-through;}
.call-list .btn{    width: 50%;height: 30px;}

.total-price{text-align: right;margin: 10px;}
#pay-info{background:white; font-size: 1.5rem;font-weight: bold;text-align: center;margin: 10px;}


/*500픽셀 이상(pc 화면)*/
@media screen and (min-width:600px) {
  .cd-tabs{
    border: 2px solid var(--main-color-dark);
    margin: 0 auto;
  }
}

.cd-tabs{
  height: 100%;
  max-width: 500px;
}





.cd-tabs nav {overflow: auto;-webkit-overflow-scrolling: touch;background: #f5f5f5;}
.cd-tabs_navigation {width: 100%;}
.cd-tabs_navigation:after {content: "";display: table;clear: both;}
.cd-tabs_navigation li {float: left;width: 25%;}
.cd-tabs_navigation a {position: relative;display: block;height: 60px;width: 100%;text-align: center;text-decoration: none;font-size: 1.2rem;font-weight: 700;color: #ccc;padding-top: 35px;}
.cd-tabs_navigation a:hover {color: var(--main-color);background-color: rgba(233, 230, 202, 0.3);}
.cd-tabs_navigation a.cd-selected {background-color: #ffffff !important;-webkit-box-shadow: inset 0 2px 0 var(--main-color);box-shadow: inset 0 2px 0 #004E38;color: #004E38;}

/* icons */
.cd-tabs_navigation a::before {
  content: "";position: absolute;top: 15px;left: 50%;margin-left: -8px;display: inline-block;height: 16px;width: 16px;
  background-image: url("../img/cd-icons.svg");background-repeat: no-repeat;}
.cd-tabs_navigation a[data-content='home']::before {background-position: 0 0;}
.cd-tabs_navigation a[data-content='call']::before {background-position: -16px 0;}
.cd-tabs_navigation a[data-content='list']::before {background-position: -32px 0;}
.cd-tabs_navigation a[data-content='pay']::before {background-position: -48px 0;}
.cd-tabs_navigation a[data-content='home'].cd-selected::before {background-position: 0 -16px;}
.cd-tabs_navigation a[data-content='call'].cd-selected::before {background-position: -16px -16px;}
.cd-tabs_navigation a[data-content='list'].cd-selected::before {background-position: -32px -16px;}
.cd-tabs_navigation a[data-content='pay'].cd-selected::before {background-position: -48px -16px;}
.cd-tabs_content {background: #ffffff;}
.cd-tabs_content > li {height: 100%; display: none;padding: 0;}
.cd-tabs_content > li.cd-selected {display: block;-webkit-animation: cd-fade-in 0.5s;animation: cd-fade-in 0.5s;}
.cd-tabs_content > li p {font-size: 1.4rem;line-height: 1.6;color: #333;margin-bottom: 2em;}

.modal-content {width: 90%;}
.modal-content form{display: inline;}
.modal-content *{width: 100%; height: 50px; vertical-align: top;}
.modal-content textarea{width:100%; height: 200px; padding: 0; resize: none;}
.modal-content input[type="number"]{width: 200px; height: 50px; font-size: 40px;}
.filed-type { width: 100%; display: inline-block; height: 40px; border: solid 1px #e4e4e4; margin-bottom: 10px; background: #fff; text-align: center; }

.btn-time{width: 55px;margin-right: 2px;}
#btnSendCall {background: #2c365e; color:white; width: 100%; font-size:1.6rem; font-weight: bold;}

.box{background: #fff;border-bottom: 1px solid #dddfe1;box-shadow: 1px 1px 3px 0 #ededed;margin: 6px;padding: 10px;}
.box *{vertical-align: middle;}
.box .title{font-size: 1.5rem;font-weight: bold;color: #302f3a;padding-bottom: 5px;}
.box .content{font-size: 1.4rem;padding-top: 5px;color: #666; line-height: 2}
.box .content.content-time *{margin-bottom: 5px;}
.box .time{width: 40%;height: 30px; font-size: 1.6rem;}
.box .time.hour {margin-right: 5px;}
.box .time.minute {width: 30%;}
.box .tag{display: inline;}
.box select[name='workField']{width: 35%; height: 100%;}
.box li{list-style: disc;list-style-position: inside;}
.user-profile{height: auto;width: 100%;background: white;padding: 15px;text-align:center;}
.user-profile img {width: 50px;height: auto;}

@-webkit-keyframes cd-fade-in { 0% {opacity: 0;} 100% {opacity: 1;} }
@keyframes cd-fade-in { 0% {opacity: 0;} 100% {opacity: 1;} }
